* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}

body {
    min-height: 150vh;
    min-width: 320px;
}

h2 {
    font-size: 2.8em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    font-family: 'raleway', sans-serif;
    font-size: 1.2em;
    color: white;
    background: linear-gradient(270deg, #a5a53a 14%, #c7c73f 68.5%);
    border-radius: 15px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 4px black;
    line-height: 1.3;
    padding: 5px 10px;
    transition: 0.5s;
}

button:hover {
    background: #979749;
}


/* nawigacja */

.logo {
    width: 100%;
    text-align: center;
    margin: 25px 0 25px;
}

.logo h2 {
    display: inline;
    font-size: 1.5rem;
    padding: 5px 50px;
    border: 1px solid #c7c73f;
}

nav {
    padding-bottom: 20px;
    background-color: white;
}

nav ul {
    display: flex;
    flex-direction: column;
}

li {
    flex-basis: 25%;
}


.menu-item a {
    display: block;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}


.banner {
    background-image: url(../images/beverage-3157395_1920.jpg);
    background-size: cover;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
}

div.welcome {
    margin: 0 auto;
    text-align: center;
    height: 60vh;
    background-color: rgba(0, 0, 0, 65%);
}

div.welcome-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 1px 1px 5px black;
}

.welcome p {
    font-size: 5em;
    font-weight: 800;
    color: #c7c73f;

}

.welcome h1 {
    font-size: 2.5em;
    color: white;
    font-weight: normal;
}


/* ABOUT */

section.about {
    position: relative;
    height: 400px;
    overflow: hidden;
}

section.about img {
    position: relative;
    left: 0;
    height: 100%;
    /* width: 100vh; */

}

div.about-box {
    position: absolute;
    top: 10.5%;
    left: 0;
    width: 65%;
    height: 70%;
    background-color: #fcfcfc;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.about-box::before,
.about-box::after {
    content: "";
    position: absolute;
    left: -8.4em;
    height: 2em;
    width: 70vw;
    border-right: 1px solid #c7c73f;
}

.about-box::after {
    bottom: -2em;
    border-bottom: 1px solid #c7c73f;
}

.about-box::before {
    border-top: 1px solid #c7c73f;
    top: -2em;
}

.about-box h2 {
    padding: 20px;
    text-align: center;
}

.about-box p {
    font-size: 1.3em;
    text-align: justify;
    padding: 5px 20px;
}

.about-box button {
    position: absolute;
    bottom: 8%;
    right: 8%;
}

/* SKILLS */

.skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.skills h2 {
    flex-basis: 100%;
    flex-grow: 1;
    text-align: center;
    margin: 20px;
}

.skill-item {
    text-align: center;
    margin-top: 20px;
}


.skill-item h3 {
    font-size: 2em;
    margin-top: 10px;
    color: #c7c73f;
    text-shadow: 1px solid black;
}

.skill-item p {
    font-size: 1.3em;
}



/* PORTFOLIO */

.portfolio h2 {
    padding: 20px;
    text-align: center;

}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
}


.portfolio-item {
    flex-basis: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    transition: 1s;
}

.portfolio-item:nth-child(1) {
    background-image: url(../images/work-abroad-unspl.png);
}

.portfolio-item:nth-child(2) {
    background-image: url(../images/20180619_150208-1.png);
}

.portfolio-item:nth-child(3) {
    background-image: url(../images/RAW-BEETROOT-MINT-SALAD-healthy-plant-based-vegan-dairy-free-gluten-free-raw-orange-dressing-carrot-raisins-seeds-easy-recipe-begoodorganics-buffyellen-nutritionist-naturopath-begoodorganics-3.png);
}

.portfolio-item:nth-child(4) {
    background-image: url(../images/32739439685_8ac3345836_b.png);
}

.portfolio-item:nth-child(5) {
    background-image: url(../images/porady-grafiki_10_u1.png);
}

.portfolio-item-view {
    display: block;
    height: 100%;
    opacity: 1;
    color: white;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(199, 199, 63, 0.5) 100%);
}

.portfolio-item-view h3 {
    font-size: 3.5em;
    padding: 15px 20px 10px;
    text-shadow: 1px 1px 6px black;
}

.portfolio-item-view button {
    margin: 0 20px;
}

.portfolio-item-view p {
    font-size: 1.2em;
    line-height: 1.4;
    text-align: left;
    margin: 5px 20px;
    max-width: 300px;
}

.portfolio-item-view button {
    margin: 10px 20px;
}



/* contact */
.contact {
    padding: 30px 20px 15px 20px;
}


.contact-info h2 {
    font-size: 2.6em;
    margin-bottom: 15px;
    text-align: center;
}

.contact-info i {
    padding-right: 20px;
}

.contact-info p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
}

.contact .wrap {
    padding-top: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.contact input,
.contact textarea {
    width: 100%;
    margin-bottom: 25px;
    font-family: 'ubuntu', sans-serif;
    font-size: 12px;
    padding: 5px;
    background: #FAFAFF;
    border-radius: 15px;
    border-style: none;
}

.contact input {
    height: 36px;
}

.contact textarea {
    height: 120px
}

.contact button {
    line-height: 1.6;
    width: 100%;
}

.contact .socials {
    margin-top: 30px;
    font-size: 2rem;
    color: rgb(199, 199, 63);
    text-align: center;
}

.contact .socials a {
    color: rgb(199, 199, 63);
}

.contact .socials i {
    display: inline-block;
    padding: 20px;

}

.contact .socials h5 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.contact .socials span {
    display: block;
    font-size: 1rem;
}


/* footer */

footer {
    height: 10vh;
    text-align: center;
    line-height: 10vh;
}


/* media query */


/* Mobile Styles */
@media only screen and (max-width: 400px) {
    section.about img {
        left: -20%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    section.about img {
        height: 69%;
        top: 16%;
        left: -30%;
    }

    div.about-box {
        left: 45%;
        width: 50%;
        top: 15.5%;
    }

    .about-box::before,
    .about-box::after {
        left: -27.4em;
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) and (orientation:landscape) {
    .portfolio-item {
        flex-basis: 33.33%;
        height: auto;
    }

    .portfolio-item:nth-child(5) {
        flex-grow: 1;
    }
}

@media only screen and (min-width:565px) {
    section.about img {
        left: -10%;
    }

    .about-box::before,
    .about-box::after {
        left: -54.4em;
    }

}

@media (min-width:640px) {
    nav {
        position: relative;
    }

    div.logo h2 {
        position: absolute;
        left: 2%;
        padding-right: 35px;
        padding-left: 35px;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
    }

    .banner,
    div.welcome {
        height: 70vh;
    }

    li {
        flex-basis: 16%;
        margin-right: 5px;
    }

    .skills {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }

    .skill-item {
        flex-grow: 1;
    }

    .skill-item:nth-child(3),
    .skill-item:nth-child(4) {
        border-left: 1px dotted #c7c73f;
    }

    .portfolio-item {
        flex-basis: 33.33%;
        height: auto;
    }

    .portfolio-item:nth-child(5) {
        flex-grow: 1;
    }
}


/* Desktop Styles */
@media only screen and (min-width: 961px) {

    .welcome-container p {
        font-size: 8rem;
    }

    nav {
        position: fixed;
        width: 100%;
        padding-bottom: 20px;
        z-index: 1;
    }

    nav a {
        transition: 0.3s;
    }

    nav a:hover {
        transform: scale(1.2);
    }

    section.about img {
        height: 69%;
        top: 16%;
        left: 5%;
    }

    div.about-box {
        left: 45%;
        width: 50%;
        top: 15.5%;
    }

    .about-box::before,
    .about-box::after {
        left: -56.4em;
    }

    .about-box p {
        line-height: 1.5;
        padding: 10px 60px;
    }

    .portfolio-item {
        height: 252px;
    }

    .portfolio-item-view {
        opacity: 0;
        transition: 0.3s;
    }

    .portfolio-item:hover .portfolio-item-view {
        opacity: 1;
    }
}

@media (min-width: 1200px) {

    div.container {
        font-size: 11px;
        max-width: 1280px;
        margin: 0 auto;
    }

    div.container h2 {
        font-size: 3.5em;
    }

}

@media (min-width: 1440px) {

    .about-box::before,
    .about-box::after {
        left: -70%;
        width: 45vw;
        border-left: 1px solid #c7c73f;
    }
}
